

.animating-line {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 1px;
  background-color: $white;
}

.right-line {
  right: 0;
  margin-left: auto !important;
}

.right-animation {
  margin-right: -50vw;
}

.green-line {
  background-color: $green3;
  position: relative;
  margin-left: -50vw;
  width: calc(100% + 50vw) !important;
}

.section-divider {
  padding: 5.5rem 15px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);

  }

  100% {
    transform: translateX(0);

  }
}

.fixed-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $green1;
}

.right-animating {
  span {
    &:after {
      left: 0;
      right: -100%;
      animation: slideInFromRight 1s ease .7s;
    }
  }
}

.green-bg {
  background-color: #63a37a;
}

p:empty {
  display: none;
}

main {
  overflow-x: hidden;
}

/* custom animation */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.slideInFromLeft,
.fadeIn{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideInFromLeft {
    -webkit-animation-name: slideInFromLeft;
    animation-name: slideInFromLeft;

}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.show-fade {
  opacity: 1 !important;
  animation: fadeIn .8s ease;
}

.show-fadeOut {
  opacity: 0 !important;
  animation:  fadeOut .8s ease;
}

.show-line {
  opacity: 1 !important;
  animation: slideInFromLeft .4s ease;
}

.right-line.show-right_line {
  animation: slideInFromRight 0.5s ease;
  opacity: 1!important;
}

.heading-container {
  width: auto;
  display: inline-block;
  h2{
    margin-bottom: 1rem;
  }
}

.section-spacing {
padding: 5.5rem 0 0;
}

.video-play .heading-container {
.aos-init{
  transform: none;
  width: 0 !important;
  transition: 2s;
}
.aos-animate{
  width: 100% !important;
}
}