
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0)
  }
}

.animating-line {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 1px;
  background-color: $white;
  animation: slideInFromLeft 1s ease .7s;
}

.right-line {
  right: 0;
  animation: slideInFromRight 1s ease .7s;
}

.section-divider {
  padding: 5.5rem 15px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0)
  }
}

.fixed-bg{
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
}

 .left-animating
 {
    span {
     position: relative;
     line-height: 4.75rem;

     &:after {
       position: absolute;
       content: "";
       background: #63a37a;
       bottom: -9px;
       right: 0;
       height: 1px;
       left: -1000%;
       animation: slideInFromLeft 1s ease .7s;
     }
   }
 }

 .right-animating{
   span{
     &:after{
    left: 0;
    right: -100%;
animation: slideInFromRight 1s ease .7s;
 }}
 }
 .green-bg{
   background-color: #63a37a;
 }

 p:empty{
   display: none;
 }