/* Header css */
.main-head {
	transition: all .3s;
	padding-top: 70px;

	nav {
		display: flex;
		position: relative;
	}

	.navbar-toggler {
		display: none;
		flex-wrap: wrap;
		width: 60px;
		height: 40px;
		margin-left: auto;
		outline: none;
		animation: fadeIn 3s ease;
		.icon-bar {
			&:nth-child(2) {
				margin: 5px 0;
			}
		}
	}

	.navbar-toggler .icon-bar {
		background-color: #63a37a;
		display: block;
		height: 0.2em;
		width: 2em;
		position: relative;
		padding: 1px 0;
		transition: 0.25s ease;
	}

	ul {
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			width: 14.28%;

			&:nth-child(4) {
				margin-left: 7.14%;
			}

			&.current-menu-item {
				a {
					color: $green;
				}
			}

			a {
				text-transform: uppercase;
				color: $white;
				font-size: 1rem;
				font-family: $vantisa_black;
				-webkit-font-smoothing: antialiased;

				&:hover {
					color: $green;
				}
			}
		}
	}
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -9px;
	width: 65px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.nav-style {
	&.main-head {
		padding: 0.5rem 0 0.5rem;
	}

	.navbar-toggler {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
	}

	.logo {
		position: static;
		animation: fadeIn 3s ease ;
	}

	nav {
		ul {
			position: fixed;
			width: 250px;
			background-color: #fff;
			height: calc(100vh - 5.5rem) !important;
			transition: right .5s ease;
			top: 5.5rem;
			display: block !important;
			overflow-y: auto;
			right: -100%;
		}
	}

}

.side-menu {
	.navbar-toggler {
		.icon-bar {
			width: 1.7em;

			&:nth-child(2) {
				display: none;
			}

			&:first-child {
				transform: rotate(45deg);
				top: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				top: -4px;
			}
		}
	}

	nav ul {
		right: 0 !important;

		li {
			display: block;
			margin: 0 !important;
			padding: 0;
			width: 100%;
			&.current-menu-item {
				a {
					color: inherit;
				}
			}


			a {
				color: #63a37a;
				padding: 1.25rem;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				min-width: 175px;
				&:hover {
					color: inherit;
				}
			}
		}
	}
}


