/** =============== Responsive CSS =============== **/


@media (min-width: 1799px) {
	.container {
		max-width: 1600px;
	}
}


@media (min-width: 1599px) {
	.container {
		max-width: 1250px;
	}
}


@media (max-width: 1600px) {
	.nav-style .logo {
		left: 26px;
	}
}

//Extra Large devices
@media (max-width: 1420px) {
	// Home Page css
}

// Large devices
@media (max-width: 1200px) {}


// Medium devices

@media (max-width: 1024px) {
	#animating-triangle {
		display: none !important;
	}
	.partners-image {
		display: block!important;
		min-height: 260px;
		width: 100% !important;
		object-fit: cover;
	}
	.fixed-bg {
		background-attachment: initial;
	}

}
@media (max-width: 992px) {

	/* Global */
	html {
		font-size: 15px;
	}
	/* Media Page */
	.media-video .embed-responsive {
		margin-bottom: 2rem;
	}

	.article-block>div:after {
		height: 1px;
		width: 40%;
	}
	.team-section .figure-caption h3 {
		font-size: 1.5rem;
	  }
	
	.team-section .desigantion {
	font-size: 17px;
	}
}

// Small devices
@media (max-width: 768px) {

	/* Global */
	html {
		font-size: 14px;
	}

	.main-footer,
	.bg-parallax {
		.row {
			text-align: center;
		}
	}

	/* Header */
	.nav-style.main-head {
		padding: .5rem 0;
	}

	.main-head {
		padding: 1.5rem 0;
		.navbar-toggler {
			display: flex;
		}

		.logo {
			transform: none;
			left: 16px;
			top: 3px;
			transform: none;
			transition: left .5s ease;
		}

		nav {
			ul {
				position: fixed;
				width: 250px;
				background-color: #fff;
				height: 100vh !important;
				transition: right .5s ease;
				top: 54px;
				display: block !important;
				overflow-y: auto;
				right: -100%;
			}
		}
	}

	/* Homepage */
	.parallax-secs {
		section {
			padding: 2.25rem 0 7.5rem;

			&:nth-of-type(1) {
				background-position: 87% 0;
			}

			h2 {
				a {
					font-size: 5rem;
				}
			}

			.row {
				.col-md-6 {
					&:nth-child(1) {
						order: 2;
					}

					&:nth-child(2) {
						order: 1;
					}
				}
			}
		}
	}

	.parallax-secs section:nth-child(2) h2 a {
		padding-left: 0;
	}

	.parallax-secs section .row>.col-md-6:first-child {
		min-height: initial;
	}

	.bg-parallax .row>.col-md-6 {
		min-height: initial;
	}

	.the-why {
		background-position: 90% 0;
	}


/* carrer page */

.parallax-bg {
	display: none !important;
}

.value-sec .row>[class*=col-] img {
	max-width: 100% !important;
}
.video-play {
	padding-top: 3rem;
}

.value-sec .row {
	padding-top: 0;
}
.value-sec .row>div {
	padding-bottom: 3rem;
}

/* media Page */
.logos-section {
	padding-bottom: 1rem;

	.row {
		padding: 4rem 0;
	}

	.img-fluid {
		max-width: 70%;
	}

	.col-md-4 {
		margin-bottom: 2.5rem;
	}
}

/* footer */
.social-icons {
	padding-top: 0;
}

.main-footer {
	h5 {
		margin: 0;
		display: block;
	}

	.row {
		>[class*="col-"] {
			padding-bottom: 20px;
		}
	}
}}

// Extra small devices

@media (max-width: 767px) {
	.team-section .figure-caption h3 {
	  font-size: 2rem;
	}
	.testimonial .owl-dot {
	  height: 10px;
	  width: 10px;
	  margin: 0 8px;
	}
}

@media (max-width: 576px) {
	/* Global */
	html {
		font-size: 13px;
	}

	input,
	select,
	textarea {
		font-size: 16px;
	}

	.section-divider {
		padding: 4rem 15px;
	}

	.intro {
		> img{
			margin: 0 auto;
		}
	}
	.parallax-secs section p {
		max-width: 350px;
	}
}
