/** =============== Typography =============== **/
html,
body {
	position: relative;
	height: 100%;
}

.app {
	height: 100%;
	float: left;
	width: 100%;
}

html {
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

body {
	background: $white;
	font-family: $vantisa_regular;
	font-size: 1.75rem;
	margin: 0;
	padding: 0;
	line-height: 2.375rem;
	font-weight: 400;
	color: #5d5d5d;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $vantisa_black;
	margin-bottom: 1rem;
	line-height: 1.2;
	font-weight: 400;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
	color: $green3;
	font-weight: 400;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}



a {
	display: inline-block;
	transition: .3s ease-in-out;
}

