@font-face {
  font-family: 'vanitasblack';
  src: url("../fonts/reserves_-_vanitas-black_1-webfont.woff2") format('woff2'), url("fonts/reserves_-_vanitas-black_1-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vanitasregular';
  src: url("../fonts/reserves_-_vanitas-regular_1-webfont.woff2") format('woff2'), url("fonts/reserves_-_vanitas-regular_1-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}