.home-Parallax {
  .container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0;

    section {
      width: 100%;
      height: 100vh;
      flex: 1;
      display: flex;
      text-align: center;
      position: relative;
      overflow: hidden;
      background-color: $black;
      @media screen and (max-width: ($xl-breakpoint - 176)) {
        height: 100%;
      }

      .image {
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 500;
        background-position: 100% 0;
      }

      .stuff {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        text-align: center;
        z-index: 1000;
        margin: 0 auto;
        position: relative;
        max-width: 1380px;
        padding-top: 150px;
        padding-bottom: 200px;
        @media screen and (max-width: $md-breakpoint) {
          padding-top: 150px;
          padding-bottom: 150px;
        }

        h3 {
          margin-top: 30px;
        }

        h2 {
          display: inline-block;
          @media screen and (max-width: $md-breakpoint) {
            margin: 0 auto;
          }

          &:hover {
            color: #77BD90;
          }

          a {
            color: $white;
          }
        }

        .content-block {
          @media screen and (max-width: $sm-breakpoint) {
            order: 2;
          }
        }
      }
    }

    .Parallax-row:first-child,
    .Parallax-row:nth-child(3) {
      .stuff {
        p {
          text-align: left;
          @media screen and (max-width: $md-breakpoint) {
            text-align: center;
          }
        }
      }

      .image {
        @media screen and (max-width:$sm-breakpoint) {
          background-position: 90% 0;
        }
      }
    }

    .Parallax-row:nth-child(2) {
      .stuff {
        p {
          text-align: right;
          @media screen and (max-width: ($md-breakpoint - 1)) {
            text-align: center;
            margin-top: 70px;
          }
        }

        h2 {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #d4d4d4;
            bottom: -30px;
            left: -14%;
            @media screen and (max-width: $md-breakpoint) {
              bottom: -15px;
            }
          }
        }

        h3 {
          padding-right: 19%;
          @media screen and (max-width: $md-breakpoint) {
            padding-right: 0;
          }
        }
      }

      .image {
        @media screen and (max-width: $sm-breakpoint) {
          background-position: 10% 100%;
        }
      }
    }

    .Parallax-row:first-child,
    .Parallax-row:nth-child(3) {
      .head-block {
        display: flex;
        align-items: flex-end;
        flex-flow: column;

        h2 {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #d4d4d4;
            bottom: -30px;
            left: 7%;
            @media screen and (max-width: $md-breakpoint) {
              bottom: -15px;
            }
          }
        }

        h3 {
          // padding-left: 35%;
          display: flex;
          align-self: center;
          @media screen and (max-width: $md-breakpoint) {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.inner-banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: ($xl-breakpoint - 176)) {
    background-position: center;
    max-height: 768px;
  }
  @media screen and (max-width: $md-breakpoint) {
    max-height: 500px;
  }

  .heading-block {
    display: flex;
    align-items: flex-end;
    height: 80vh;
    justify-content: center;
    @media screen and (max-width: ($xl-breakpoint - 176)) {
      max-height: 680px;
    }
    @media screen and (max-width: $md-breakpoint) {
      max-height: 410px;
    }

    h1 {
      animation: fadein 2s;
      -moz-animation: fadein 2s;
      /* Firefox */
      -webkit-animation: fadein 2s;
      /* Safari and Chrome */
      -o-animation: fadein 2s;
      /* Opera */
      margin-bottom: 0;
    }
  }

  .line-ani-right {
    animation: 1s ease-out 0s 1 slideInFromRight;
    background: $white;
    height: 1px;
    width: 60%;
    margin-left: auto;
    animation-delay: 2s;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .line-ani-left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background: $white;
    height: 1px;
    width: 60%;
    margin-right: auto;
    animation-delay: 2s;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.scroller-triangle {
  height: 920px;
  max-width: 100%;
  width: 100%;
  margin: auto;
  background-size: cover !important;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  position: relative;
  @media screen and (max-width: ($xl-breakpoint - 176)) {
    height: 450px;
  }
  @media screen and (max-width: $sm-breakpoint) {
    height: 200px;
  }

  &:before {
    position: absolute;
    content: "";
    background: red;
  }
}

.scroller-triangle img {
  display: none;
}
// #skrollr-body {
//   float: left;
//   width: 100%;
//   height: 100%;
// }