/*============= media page styling here =================*/
.media-logo-wrapper {
  padding: 60px 0 58px;

  p {
    font-size: 21px;
    line-height: 27px;
    color: $xdark-gray;
  }

  .logo-block {
    padding-top: 95px;
    padding-bottom: 95px;

    &:nth-child(3) {
      text-align: center;
    }

    &:nth-child(4) {
      text-align: right;
    }

    img {
      max-width: 75%;
    }
  }
}

.video-warpper {
  margin-bottom: 50px;

  h2 {
    color: $green-variant;
    margin-bottom: 80px;
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      content: "";
      background: $green-variant;
      bottom: -25px;
      right: 0;
      height: 1px;
      left: -300%;
    }

    &:nth-child(4) {
      text-align: right;
    }

    img {
      max-width: 65%;
      @include object-fit($object-value: cover);
    }
  }

  .video-block {
    margin-bottom: 40px;
    @media screen and (max-width: $xl-breakpoint) {
      margin-bottom: 0;
    }

    iframe {
      width: 100%;
      height: 730px;
      @media screen and (max-width: $xl-breakpoint) {
        height: 500px;
      }
      @media screen and (max-width: $md-breakpoint) {
        height: 350px;
      }
      @media screen and (max-width: $sm-breakpoint) {
        height: 200px;
      }
    }
  }
}

.nav-links {
  text-align: center;
  margin-top: -80px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.article-wrapper {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 1px;
    font-family: $vanitasblack-font;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;

    &:before {
      position: absolute;
      background: $white;
      width: 80%;
      left: 10%;
      content: "";
      bottom: -30px;
      height: 1px;
    }
    @media screen and (max-width: $md-breakpoint) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &:nth-child(odd) {
    h3 {
      color: #8CD1A5;
    }

    .fab,
    .share {
      color: $white;
    }
  }

  &:nth-child(even) {
    h3 {
      color: #312C5C;

      &:before {
        background: #312c5c;
      }
    }

    .fab,
    .share,
    p {
      color: #525259;
    }

    .borders {
      &.top {
        border-top: 1px solid #525259 !important;
        border-left: 1px solid #525259 !important;
      }

      &.left {
        border-bottom: 1px solid #525259 !important;
        border-left: 1px solid #525259 !important;
      }

      &.right {
        border-top: 1px solid #525259 !important;
        border-right: 1px solid #525259 !important;
      }
    }

    .button {
      &:before {
        background: #525259;
      }

      &:after {
        border-color: transparent transparent transparent #525259;
      }
    }
  }

  a {
    color: $white;
    font-size: 18px;
    font-family: $vanitasblack-font;
    letter-spacing: 2px;
    position: absolute;
    bottom: -10px;
    left: 46%;
    @media screen and (max-width: $md-breakpoint) {
      left: 44%;
    }
    @media screen and (max-width: $sm-breakpoint) {
      left: 38%;
    }
  }

  p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 80px;
    @media screen and (max-width: $md-breakpoint) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 30px;
    }
  }

  .row {
    position: relative;
    margin: 0 15px;

    .inner-row {
      position: relative;
      display: block;
      padding: 40px 70px 0;
      @media screen and (max-width: $md-breakpoint) {
        padding: 20px;
      }

      &:hover {
        a {
          color: #8cd1a5;
        }
      }
    }

    .borders {
      height: 50px;
      position: absolute;
      width: 50px;
      z-index: 9;
      border-color: $white;

      &.top {
        left: 0;
        border-top: 1px solid $white;
        border-left: 1px solid $white;
        height: 25%;
      }

      &.left {
        left: 0;
        bottom: 0;
        border-bottom: 1px solid $white;
        border-left: 1px solid $white;
        width: 45%;
        height: 25%;
        @media screen and (max-width: $md-breakpoint) {
          width: 40%;
        }
        @media screen and (max-width: $sm-breakpoint) {
          width: 33%;
        }
      }

      &.right {
        right: 0;
        border-top: 1px solid $white;
        border-right: 1px solid $white;
        width: 20%;
      }
    }

    .fab {
      position: absolute;
      left: -5px;
      font-size: 20px;

      &.fa-linkedin-in {
        top: 30%;
      }

      &.fa-twitter {
        top: 40%;
      }
    }

    .share {
      font-size: 14px;
      transform: rotate(270deg);
      margin-left: -28px;
      position: absolute;
      top: 55%;
      letter-spacing: 1px;
    }
  }
}

.button {
  position: absolute;
  right: -74px;
  top: 16px;

  &:before {
    content: "";
    width: 40px;
    height: 1px;
    background: $white;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 24px;
    transition: all 0.3s ease;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 20px;
    transition: all 0.3s ease;
  }
}

.inner-row:focus .button:before,
.inner-row:hover .button:before {
  right: -10px;
  width: 80px;
}

.inner-row:focus .button:after,
.inner-row:hover .button:after {
  right: -20px;
}