/*============= media page styling here =================*/
.media-logo-wrapper{
    padding: 60px 0 58px 0;
    p{
        font-size: 21px;
        line-height: 27px;
        color: $xdark-gray;
    }
    .logo-block{
        padding-top: 95px;
        padding-bottom: 95px;
        img{
            max-width: 65%;
            @include object-fit($object-value: cover);
        }
    }
}

.video-warpper{
    h2{
        color: $green-variant;
        margin-bottom: 30px;
        &::after{

        }
    }
    .video-block{
        margin-bottom: 60px;
        
    }
}

.article-wrapper{
    padding: 30px 0 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        font-family: $vanitasblack-font;
    }
}