/* -----  font family variables ------ */
$vanitasblack-font: 'vanitasblack';
$vanitasregular-font: 'vanitasregular';
/* -----  font color variables ------ */
$black: #000000;
$white: #ffffff;
$dark-gray: #3D3D44;
$light-gold: #DCD1C8;
$medium-green: #61C996;
$dark-green: #6BCB9D;
$xdark-gray: #5D5D5D;
$green-variant: #63A37A;
$team-grey: #F0F0F0;
$dark-green: #8cd1a5;
$medium-blue: #312c5c;
$gray-border-color: #c8c7cd;
$darkgray-border-color: #868a96;
$service-green: #77C093;
/* -----  breakpoint variables ------ */
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;