     canvas {
       height: 200px;
       width: 300px;
     }

     #about-testimonial {
       .owl-item {
         p {
           max-width: 58rem;
           margin: 0 auto;
           line-height: 3.375rem;
         }
       }

       &:before {
         background-image: url('/images/CredentialsSectionFilter2_GP.png');
       }

       .intro {
         border: 0;
         padding: 2rem 0;
         margin: 0 auto;

         img {
           border-radius: initial;
         }
       }
     }

     .testimonial-img {
       position: relative;
       margin-top: 4rem;

       &:before {
         background-color: #fff;
         content: "";
         height: 1px;
         position: absolute;
         width: 50%;
         left: 25%;
       }

       h2 {
         color: #6bcb9d;

         span {
           border-bottom: 1px solid $white;
           display: inline-block;
           margin-top: 1.25rem;
           padding-bottom: 0.9375rem;
         }
       }

       img {
         object-fit: cover;
         width: 13rem !important;
       }
     }

     .triangle-bg {
       position: relative;

       .section-divider {
         z-index: 1;
         position: relative;
       }

       &:before {
         background: url('/images/testimonial_gradient_bg.png');
         background-size: 54% 100%;
         content: "";
         height: 100%;
         position: absolute;
         top: 0;
         width: 100%;
         z-index: 0;
         object-position: unset;
         background-repeat: no-repeat;
       }
     }

     .consultants {
       padding: 3.5rem 0;

       .figure {
         cursor: pointer;
       }

       .figure-caption {
         h3 {
           font-weight: 400;
         }

         p {
           font-size: 1.125rem;
           margin-bottom: 0;

           &:nth-of-type(1) {
             line-height: 2.125rem;
           }

           &:nth-of-type(2) {
             line-height: 1.3125rem;
           }
         }
       }

       figure {
         &:hover {
           .figure-caption {
             color: #63a37a;

             h3 {
               span {
                 border-bottom: 1px solid #63a37a;
                 padding-bottom: 7px;
               }
             }
           }
         }
       }
     }

     .intro-desc {
       width: 100%;
       left:0;
     }