.contact-bg {
  z-index: 1;
  h2 {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.625rem;
  }

  h3 {
    line-height: 3.375rem;
  }

  p,
  h3 {
    font-size: 2.375rem;
    color: $white;
    -webkit-font-smoothing: antialiased;
        line-height: 3.375rem;
  }

  h3 {
    letter-spacing: 10px;
  }
}

form {
  input[type="submit"] {
    background-color: transparent;
    color: #fff;
    letter-spacing: 8px;
    padding: 3px 15px 2px 23px;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: auto;
    font-size: 2.5rem;
    -webkit-font-smoothing: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover,&:active,&:focus{
    background-color: $white;
    color: $body-color;
    }
  }

  label {
    margin-bottom: 25px;
  }

  textarea {
    height: 10rem;
    resize: none;
  }

  textarea,
  input {
    border: 0;
    border-bottom: 1px solid $white;
    width: 100%;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 3px;
    color: $white;
    line-height: 3.3125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    &:focus {
      outline: -webkit-focus-ring-color auto 2px;
      border-bottom-color: rgba(255, 255, 255, 0.5);
    }
  }
  div.wpcf7-response-output {
    border: 0;
    padding: 0;
    margin: 10px 0 0;
  }

  label {
    width: 100%;
  }

  span {
    display: block;
    width: 100%;
  }
}

.contact {
  padding-top: 4rem;
// .col-md-6{
//   position: relative;
//   &:nth-child(1){
//     a{
//       &:before{
//      background-image :url('/images/line_phone-icon.png');}}
//   }
//     &:nth-child(2) {
//       content: '';
//     }
//   &:before{
//     position: absolute;
//     left:0;
//     content: '';
//   }

// }
  a {
    color: #5d5d5d;
    font-size: 2.25rem;
    position: relative;
    padding-left: 4rem;
    word-break: break-word;
    &:hover {
      color: $green3;
    }

    i {
      color: $green3;
      position: absolute;
      left: 0;
      &:before {
        content: '';
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .fa-phone {
      &:before {
        background: url('./../images/line_phone-icon.png') no-repeat;
        background-size: 100%;
      }
    }
    .fa-envelope {
      &:before {
        background: url('./../images/mail.png') no-repeat;
        background-size: 100%;
        height: 25px;
      }
    }
  }
}

/* -- Placeholder Global Color -- */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400 !important;
  color: $white;
  font-size: 1.5rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: 400 !important;
  color: $white;
  font-size: 1.5rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400 !important;
  color: $white;
  font-size: 1.5rem;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-weight: 400 !important;
  color: $white;
  font-size: 1.5rem;
}


span.wpcf7-not-valid-tip {
  font-size: 19px;
  color: #c70000;
  -webkit-font-smoothing: initial;
}

