/* logos section */
.logos-section {
  padding-top: 5rem;

  .row {
    padding: 6rem 0;

    >[class*=col-] {
      img {
        max-height: 160px;
      }

      &:nth-child(1) {
        text-align: left;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

/* Video section */
.media-video {
  h2 {
    margin-bottom: 3rem;
  }

  .embed-responsive {
    margin-bottom: 5rem;
  }
}

/* Article section */
.media-block {
  padding: 3rem 0 4rem;
  position: relative;

  .position-relative {
    min-height: 330px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >p:nth-of-type(1) {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        height: 1px;
        background-color: $white;
        width: 50%;
        top: -23px;
        left: 25%;
      }
    }
  }

  >div {

    &:before,
    &:after {
      background: $white;
      bottom: 0;
      left: 0;
      content: "";
      position: absolute;
    }

    &:before {
      height: 4.125rem;
      width: 1px;
    }

    &:after {
      height: 1px;
      width: 43%;
    }
  }

  &:before,
  &:after {
    background: $white;
    bottom: -28px;
    top: 3rem;
    left: 0;
    content: "";
    position: absolute;
  }

  &:before {
    height: 1px;
    width: 3.125rem;
  }

  &:after {
    height: 5.125rem;
    width: 1px;
  }

  p {
    font-size: 1.313rem;
    color: $white;
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 15px;
  }

  h3 {
    color: #8cd1a5;
    position: relative;
    padding: 2rem;

    &:after,
    &:before {
      background: $white;
      bottom: -28px;
      top: 0;
      right: 0;
      content: "";
      position: absolute;
    }

    &:after {
      height: 1px;
      width: 14rem;
    }

    &:before {
      width: 1px;
      height: 3.125rem;
    }
  }

  .video-titile {
    color: #8cd1a5 !important;
    margin-bottom: 0;
  }
  .video-subtitile {
    padding: 0;
    margin: 0;
    color: #8cd1a5;
  }
}

.share {
  color: $white;
  position: absolute;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);
  padding: 15px 0 0;

  i {
    padding-bottom: 0.9375rem;
  }

  &:before {
    top: -60%;
  }

  a {
    color: $white;
    display: block;
    font-size: 20px;
    line-height: 1.6;
  }

  small {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 14px;
    letter-spacing: 3px;
  }
}

.read {
  margin-top: 3.5rem;
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 1rem;
   letter-spacing: 3px;
  .line {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    right: -91px;

    &:before {
      content: "";
      width: 40px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 24px;
      transition: all .3s ease;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $white;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 20px;
      transition: all .3s ease;
    }
  }
}

.media-list {
  padding-top: 5.5rem;
  div {
    &:nth-child(even) {
      &:hover{
        .read{
          color: $green3;
        }
      }
      .read {
        bottom: -13px;
      }
      .line {
        &:after {
          border-color: transparent transparent transparent $black;
        }

        &:before {
          background-color: $black;
        }
      }
    }

    &:hover {
      .read {
        color: $green;
        .line {
          &:before {
            right: -10px;
            width: 68px;
          }

          &:after {
            right: -20px;
          }
        }
      }
    }
  }
  >div.fixed-bg {
    &:nth-of-type(even) {
      .position-relative {
        >p:nth-of-type(1) {
          position: relative;

          &:before {
            background-color: $black;
          }
        }
      }

      .read {
        color: $black;
        line-height: 1.875rem;

      }

      .media-block:after,
      .media-block:before,
      .media-block h3:after,
      .media-block h3:before,
      .media-block>div:after,
      .media-block>div:before {
        background-color: $black;
      }

      .share {
        color: $black;

        a {
          color: $black;
        }
      }

      p {
        color: #525259;
      }

      h3 {
        color: #312c5c;
      }
    }
  }
}



.articles-sec div:nth-of-type(even){
&:hover {
  .read {
    color: $green3;
  }
}
}

.articles-load-more {
  padding: 15px 0;
  i {
    vertical-align: middle;
    padding-left: 15px;
  }
}