
/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
@mixin position-absolute {
    position: absolute;
    content: '';
}

.service-page {
    height: 100vh;
    overflow-y: hidden;
    .main-head  {
        padding: 16px 30px 5px;
        &.nav-style {
            padding: 4px 30px 8px;
        }
    }
    
    .main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 4rem 0;
        h5 {
            font-size: 1rem;
        }
        .row>[class*=col-] {
            padding-bottom: 0;
        }
    } 
    .social-icons {
        padding-top: 0;
        font-size: 1rem;
        margin: 0;
        line-height: 1.9;
    }
    .mail-link {
        font-size: 1.2rem;
    }
    .footer-logo img {
        width: 75%;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.service-container {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    width: calc(100vh - 75px);
    height: 100vw;  
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    } 
}

.service-container .service-container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 100%;
    overflow: initial !important;
    position: relative;
}

.service-section {
    font-size: 20px;
    height: 100vh;
    position: relative;
    width: 4690px;
    &:before {
        @include position-absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.15);
    }
}

.bg-image {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
}

.service-wrap {
    color: #fff;
    font-family: $vantisa_black;
    padding: 8em 20px 0 10.5vw;
    position: relative;
    display: flex;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    h4 {
        font-family: $vantisa_regular;  
        margin: 8vh 0  0.5em;
        max-width: 540px;
    }
    .title {
        color: #77c093;
        font-weight: 600;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        display: inline-block;
    }
    li {
        padding: 4px 0;
        line-height: 1.35;
        position: relative;
        list-style-type: circle;
    }
}

.service-col {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 670px;
    justify-content: space-between;
    margin-right: 65px;
    &:nth-of-type(1) {
        margin-right: 10px;
    }
    &:last-child {
        margin-right: 0;
    }
    .col-below {
        padding-top: 11vh;
        margin-bottom: auto;
        position: relative;
      
    }
    img {
        max-height: 260px;
        object-fit: contain;
        padding: 10px 0;    
        max-width: 100%;
    }

}

.timeline{
    @include position-absolute;
    height: 3px;
    left: 120px;
    top: 44%;
    width: 0;
    transform: translateY(-50%);
    transition: all ease 2s;
    background: #fff;
    .dot {
        @include position-absolute;
        background: rgba(0,0,0,0);
        left: -4px;
        top: -3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        &:after {
            @include position-absolute;
            background: transparent;
            content: '';
            border-radius: 50%;
            height: 200%;
            width: 200%;
            top: -5px;
            left: -5px;
            transition: 10s ease;
        }
        &.show {
            background: #fff;
            &:after {
                border: 2px solid #fff
            }
        }
        >div {
            transition: all ease 1s;
            position: absolute;
            height: 0;
            width: 2px;
            left: 4px;
            top: 3px;
            background: white;
        }
        .dot-in {
            @include position-absolute;
            background: #fff;
            left: -4px;
            bottom: 0;
            width: 10px;
            height: 10px;
            bottom: 0;
            border-radius: 50%;
            display: none;
        }
    }
}

.service-col:nth-of-type(odd) {
    .timeline {
        &:after {
            top: -80px;
            bottom: 0;
        }
        .dot > div {
            //top: -80px;
            transform: rotate(180deg);
        }
    }
}

.arrows_svg {
    transform: rotate(270deg);
    vertical-align: top;
    margin-top: 15%;
    margin-left: 7%;
    display: none;
    width: 100px;
    height: 100px;
    fill: #fff;
}

@media (max-height: 768px) {
    .service-section {
        font-size: 19px;
    }
    .service-col img {
        max-height: 200px;
    }
    .service-col .col-below {
        padding-top: 8vh;
    }
    .service-wrap h4 {    
        margin-top: 3vh;
    }
    .service-wrap li {
        padding: 2px 0;
    }
    .timeline {
        left: 90px;
        top: 44%;
    }
    .service-page .main-head .container {
        max-width: initial;
    }
}

@media (max-height: 850px) {
    .service-section {
        font-size: 19px;
    }
    .service-col .col-below {
        padding-top: 7vh;
    }
    .service-wrap {
        padding-top: 7.5em;
    }
    .service-col img {
        max-height: 230px;
    }
    .service-wrap h4 {
        margin-top: 4.5vh;
    }
    .service-wrap li {
        padding: 3px 0;
        line-height: 1.3;
    }
    .timeline {
        top: 43%;
        left: 105px;
    }
}

@media (max-width: 768px) {
    .service-wrap {
        padding: 25vh 0 0 30px;
    }
    .service-wrap h4 {
        max-width: 270px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;
    }
    .arrows_svg  {
        display: block;
    }
    .service-col:first-of-type {
        flex-direction: row;
    }
    .service-section {
        font-size: 16px;
    }
    .service-col {
        justify-content: initial; 
    }
    .service-col:first-of-type {
        margin-right: 65px;
    }
    .service-col img {
        max-height: 160px;
    }
    .service-wrap li {
        line-height: 1.2;
    }
    .service-wrap li {  
        padding: 2px 0;
    }
    .service-col .col-below {
        padding-top: 5vh;
    }
    .timeline {
        top: auto;
        bottom: 0;
    }
    .timeline .dot>div {
        transform: rotate(180deg);
        top: -40px;
    }
    .service-col .col-below {
        padding-top: 0;
        margin-bottom:0;
    }
    .service-col:first-of-type {
        max-width: 410px;
    }
}

@media (max-width:489px) {
    .service-col {
        width: 420px;
    }
    .service-wrap {
        padding-top: 21vh;
    }
    .service-section {
        width: 2940px;
    }
    .service-col img {
        max-height: 120px;
    }
    .service-col  .img-col {
        order: 1;
    }
    .timeline {
        left: 50px;
        bottom: -1vh;
    }
}

@media (max-height: 600px) {
    .service-col {
        flex-direction: row;
        justify-content: flex-start;
    }
    .service-col:first-of-type {
        max-width: initial;
    }
    .service-col .col-below {
        padding-top: 0;
    }
    .service-section {
        font-size: 16px;
    }
    .service-page  .main-footer {
        display: none;
    }   
    .service-container {
        width: 100vh;
    }
    .service-col .img-col {
        order: -1;
        margin-right: 20px;
    }
    .service-wrap {
        padding-top: 20vh;
    }
    .service-wrap li {
        line-height: 1.2;
    }
    .service-wrap h4 {
        margin-top: 5px;
        font-size: 18px;
        max-width: 370px;
        font-weight: 700;
    }
    .timeline {
        top: auto;
        bottom: 0;
    }
    .service-col .timeline .dot>div {
        transform: rotate(180deg);
        top: -40px;
    }
    .arrows_svg {
        display: block;
    }
}

