
/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
@mixin position-absolute {
    position: absolute;
    content: '';
}

.service-page {
    height: 100vh;
    overflow-y: hidden;
    main {
        height: 100%;
    }
    .main-head  {
        padding: 16px 30px 5px;
        &.nav-style {
            padding: 4px 30px 8px;
        }
    }

    .main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 4rem 0;
        h5 {
            font-size: 1rem;
        }
        .row>[class*=col-] {
            padding-bottom: 0;
        }
    }
    .social-icons {
        padding-top: 0;
        font-size: 1rem;
        margin: 0;
        line-height: 1.9;
    }
    .mail-link {
        font-size: 1.2rem;
    }
    .footer-logo img {
        width: 75%;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.service-container {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    width: calc(100vh - 75px);
    height: 100vw;
    position: absolute;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}

.service-container .service-container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 100%;
    overflow: initial !important;
    position: relative;
}

.service-section {
    font-size: 20px;
    height: 100vh;
    position: relative;
    width: 4690px;
    &:before {
        @include position-absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.15);
    }
}

.bg-image {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
}

.service-wrap {
    color: #fff;
    font-family: $vantisa_black;
    padding: 8em 20px 0 10.5vw;
    position: relative;
    display: flex;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    h4 {
        font-family: $vantisa_regular;
        margin: 8vh 0  0.5em;
        max-width: 540px;
        line-height: 1.2;
    }
    .title {
        color: #77c093;
        font-weight: 600;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        display: inline-block;
    }
    ul {
        padding-left: 20px;
    }
    li {
        padding: 4px 0;
        line-height: 1.35;
        position: relative;
        list-style-type: circle;
    }
}

.service-col {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 670px;
    justify-content: space-between;
    margin-right: 65px;
    &:nth-of-type(1) {
        margin-right: 10px;
    }
    &:last-child {
        margin-right: 0;
    }
    .col-below {
        padding-top: 11vh;
        margin-bottom: auto;
        position: relative;

    }
    img {
        max-height: 260px;
        object-fit: contain;
        padding: 10px 0;
        max-width: 100%;
    }

}

.timeline{
    @include position-absolute;
    height: 3px;
    left: 120px;
    top: 44%;
    width: 0;
    transform: translateY(-50%);
    transition: all ease 2s;
    background: #fff;
    .dot {
        @include position-absolute;
        background: rgba(0,0,0,0);
        left: -4px;
        top: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(-50%);
        &:after {
            @include position-absolute;
            background: transparent;
            content: '';
            border-radius: 50%;
            width: 27px;
            height: 27px;
            left: -8px;
            top: -7.9px;
            transition: 10s ease;
        }
        &.show {
            background: #fff;
            &:after {
                border: 2px solid #fff
            }
        }
        >div {
            transition: all ease 1s;
            position: absolute;
            height: 0;
            width: 2px;
            left: 4px;
            top: 3px;
            background: white;
        }
        .dot-in {
            @include position-absolute;
            background: #fff;
            left: -4px;
            bottom: 0;
            width: 10px;
            height: 10px;
            bottom: 0;
            border-radius: 50%;
            display: none;
        }
    }
}

.service-col:nth-of-type(odd) {
    .timeline {
        &:after {
            top: -80px;
            bottom: 0;
        }
        .dot > div {
            //top: -80px;
            transform: rotate(180deg);
        }
    }
}

.arrows_svg {
    transform: rotate(270deg);
    vertical-align: top;
    margin-top: 15%;
    margin-left: 7%;
    display: none;
    width: 100px;
    height: 100px;
    fill: $white;
}





